Create a production schedule of 8 products while: 
- Minimizing the total cost of production and holding inventory.
- There is an initial inventory at the start of the quarter, $I_0$.
- Ensuring the total production per week of all products does not exceed the capacity of the weekly capacity of the plant.
- Ensuring the total inventory per week, which is the sum of the total production $Q$ and the leftover inventory from the previous week $L$ exceeds the minimum inventory requirement $Z$ and is at most the maximum inventory requirement $A$ for the week.

$$
\begin{align*}
\min        \quad   &   \sum^{12}_{w=0} \sum^{8}_{p=1} Q_{wp}P_{wp} + L_{wp}H_{wp}              \\
\text{s.t.} \quad   &   L_{0p} = I_{0p} \quad   &\text{for }w = 0,                                \\
            \quad   &   L_{wp} = L_{w-1,p} + Q_{w-1,p} - D_{w-1,p}\quad &\text{for}              \
                        w\in \{1,...,12\},                                                      \\
            \quad   &   Q_{wp} \ge D_{wp} &\text{for}              \
                        w\in \{0,...,12\},                                                     \\
            \quad   &   \sum^{8}_{p=1} Q_{wp} \le C_{w}&\text{for}              \
                        w\in \{0,...,12\},                                        \\
            \quad   &   Z_{wp} \le \sum^{8}_{p=1} Q_{wp} + L_{wp} \le A_{wp}&\text{for}              \
                        w\in \{0,...,12\}                    \\

\end{align*}
$$

In [7]:
import pandas as pd

cap = pd.read_csv("data/cap.csv", index_col=0)
demands = pd.read_csv("data/demands.csv", index_col=0)
hcr = pd.read_csv("data/holding_cost_rates.csv", index_col=0)
init_inv = pd.read_csv("data/initial_inventory.csv", index_col=0)
init_inv

    Initial Inventory (tn)
P1                    1320
P2                    1395
P3                     794
P4                    1228
P5                     782
P6                     962
P7                     777
P8                    1297

In [30]:
import numpy as np
import pandas as pd

np.random.seed(42)

# Assuming demands for each product range between 40 and 150 units per week
demands_all = pd.DataFrame(np.random.randint(40, 150, size=(13, 8)), columns=['P1', 'P2', 'P3', 'P4', 'P5', 'P6', 'P7', 'P8'])
demands_all.index = pd.Index(range(13), name='week')

# Assuming weekly capacity ranges between 1300 and 1500 units
capacity_all = pd.DataFrame(np.random.randint(1300, 1500, size=(13, 1)), columns=['production_capacity'])
capacity_all.index = pd.Index(range(13), name='week')

# Assuming holding cost rates are between 0.003 and 0.005 per unit
holding_cost_rates_all = pd.DataFrame(
    np.random.uniform(0.003, 0.005, size=(13, 8)), 
    columns=demands_all.columns
)
holding_cost_rates_all.index = pd.Index(range(13), name='week')

# Assuming production costs per unit are between $0.5 and $2.0
production_cost_rates_all = pd.DataFrame(np.random.uniform(0.5, 2.0, size=(13, 8)), columns=demands_all.columns)
production_cost_rates_all.index = pd.Index(range(13), name='week')

# Minimum inventory requirement (Z) could be 30-50% of weekly demand
# Maximum inventory requirement (A) could be 150-200% of weekly demand
min_inventory_all = demands_all * np.random.uniform(0.3, 0.5, size=demands_all.shape)
max_inventory_all = demands_all * np.random.uniform(1.5, 2.0, size=demands_all.shape)

In [31]:
capacity_all

      production_capacity
week
0                    1339
1                    1381
2                    1410
3                    1352
4                    1323
5                    1453
6                    1487
7                    1423
8                    1340
9                    1456
10                   1314
11                   1344
12                   1364

In [23]:
150*8

1200