In [1]:
import yfinance as yf
import pandas as pd
import random
import numpy as np

from datetime import datetime as dt
from workflow import get_dji, Indicators

In [2]:
stocks = get_dji()

len(stocks)

30

Feature Space:
- $M_{t}$, Moving-Average Convergence Divergence (MACD) Signal
- $H_{t}$, MACD Histogram
- $R_{t}$, Relative Strength Index (RSI)
- $C_{t}$, Commodity Channel Index (CCI)
- $X_{t}$, Average Directional Index
- $V_{t}$, Turbulence Index

In [3]:
start = "2006-01-01"
end = dt.now()

stock_data = yf.download(stocks, start, end).dropna(axis=1)
stock_prices = stock_data["Adj Close"]

f"{len(stock_prices.columns)} stocks", \
    f"{round((stock_prices.index.max() - stock_prices.index.min()).days / 365, 2)}Y"

[*********************100%%**********************]  30 of 30 completed

('28 stocks', '17.85Y')

In [4]:
indicators = Indicators(stock_data)
features = indicators.get()

features.tail()

,AAPL_M,AMGN_M,AXP_M,BA_M,CAT_M,CRM_M,CSCO_M,CVX_M,DIS_M,GS_M,...,MRK_X,MSFT_X,NKE_X,PG_X,TRV_X,UNH_X,VZ_X,WBA_X,WMT_X,TURB
Date,,,,,,,,,,,,,,,,,,,,,
2023-10-31,-1.962610,-0.815389,-2.670639,-4.948660,-9.330452,-2.737921,-0.616842,-4.426072,-0.598167,-6.442100,...,32.733184,35.358365,31.453403,60.863781,47.509693,14.908372,49.358314,36.610887,52.595523,52.054674
2023-11-01,-1.669119,-1.438272,-2.407413,-4.105077,-9.824445,-2.336055,-0.593429,-4.995898,-0.611446,-5.516476,...,32.887948,34.649925,33.054525,56.432277,46.749347,16.355819,43.112164,40.271502,48.340371,20.933244
2023-11-02,-1.132974,-1.451206,-1.822749,-3.187570,-9.517979,-1.659538,-0.523650,-5.004099,-0.437788,-4.201909,...,34.559868,34.041115,33.160732,51.155518,47.741517,18.481867,37.132327,42.503843,44.932870,20.280829
2023-11-03,-0.773398,-1.183948,-1.191543,-2.189891,-9.039375,-1.161645,-0.442272,-5.045235,-0.154748,-2.018453,...,34.345963,32.462046,34.309158,45.415519,47.099735,20.722401,31.165254,44.312150,43.629272,22.590744
2023-11-06,-0.277053,-0.724142,-0.665082,-1.550800,-8.758424,-0.762310,-0.351138,-5.068629,-0.014990,-0.580720,...,34.395949,30.858344,35.986404,39.758295,46.003860,22.710005,25.064783,46.196560,42.674690,9.328554

In [5]:
s = pd.concat([stock_prices, features], axis=1).dropna()

s.shape, s.head()

((4466, 169),
                 AAPL       AMGN        AXP         BA        CAT     CRM  \
 Date
 2006-02-09  1.968905  51.850811  40.273148  51.452534  42.888489  9.8425
 2006-02-10  2.040447  52.172092  40.242798  51.824066  43.076466  8.7750
 2006-02-13  1.961629  51.945736  40.257980  51.523975  42.995014  8.5650
 2006-02-14  2.050450  52.522610  40.630039  51.952675  43.997524  8.6625
 2006-02-15  2.098346  53.281986  41.146355  51.766891  44.862179  8.5250

                  CSCO        CVX        DIS          GS  ...      MRK_X  \
 Date                                                     ...
 2006-02-09  13.470140  29.117903  21.925201  108.286316  ...  25.816695
 2006-02-10  13.614833  28.969492  21.892380  108.255531  ...  22.367933
 2006-02-13  13.470140  28.974619  21.670830  107.363716  ...  19.156019
 2006-02-14  13.573496  28.742500  21.949820  109.001266  ...  17.939655
 2006-02-15  13.738857  28.866306  22.056490  111.584488  ...  19.816770

                MSFT_X      NKE_X       PG_X      TRV_X      UNH_X       VZ_X  \
 Date
 2006-02-09  21.210015  55.391296  48.827317  56.251401  69.238755  31.494311
 2006-02-10  17.385669  54.150796  46.895329  55.672677  70.268849  31.273138
 2006-02-13  13.652060  51.814512  44.520581  54.889069  71.265677  32.283392
 2006-02-14  11.288351  49.153895  41.124312  53.075960  71.625251  29.983698
 2006-02-15   9.437970  47.060528  36.330680  56.051097  70.717278  31.441009

                 WBA_X      WMT_X       TURB
 Date
 2006-02-09  34.933274  59.872587  30.837936
 2006-02-10  32.608957  61.689623  43.754798
 2006-02-13  30.269835  62.788021  13.593755
 2006-02-14  29.840626  63.522294  22.851866
 2006-02-15  31.078708  66.413252  20.427372

 [5 rows x 169 columns])

In [6]:
s.to_csv("prices_and_features.csv")