In [2]:
import yfinance as yf

import pandas as pd
import numpy as np

import matplotlib.pyplot as plt

from datetime import datetime as dt
from snp500 import SNP500

In [20]:
tickers = ["DBC", "AGG", "^VIX", "VTI"]

start = "2006-01-01"
end = dt.now()

data = yf.download(tickers, start, end).dropna()
data.head()

[*********************100%%**********************]  4 of 4 completed

            Adj Close                                    Close             \
                  AGG        DBC        VTI   ^VIX         AGG        DBC
Date
2006-02-06  58.557690  21.916014  45.302429  13.04  100.209999  24.200001
2006-02-07  58.516819  21.282082  44.861328  13.59  100.139999  23.500000
2006-02-08  58.487602  21.191517  45.184093  12.83  100.089996  23.400000
2006-02-09  58.522636  21.390755  45.098015  13.12  100.150002  23.620001
2006-02-10  58.399952  21.001337  45.191246  12.87   99.940002  23.190001

                                    High             ...        Low         \
                  VTI   ^VIX         AGG        DBC  ...        VTI   ^VIX
Date                                                 ...
2006-02-06  63.165001  13.04  100.290001  24.660000  ...  62.904999  12.99
2006-02-07  62.549999  13.59  100.339996  24.200001  ...  62.500000  12.97
2006-02-08  63.000000  12.83  100.239998  23.670000  ...  62.505001  12.76
2006-02-09  62.880001  13.12  100.250000  23.820000  ...  62.820000  12.27
2006-02-10  63.009998  12.87  100.230003  23.690001  ...  62.404999  12.69

                  Open                               Volume                    \
                   AGG        DBC        VTI   ^VIX     AGG       DBC     VTI
Date
2006-02-06  100.070000  24.549999  63.044998  13.43  119800  771500.0  348200
2006-02-07  100.330002  24.049999  63.000000  13.20  122900  674400.0  570000
2006-02-08  100.190002  23.490000  62.619999  13.41  146800  335400.0  396400
2006-02-09  100.129997  23.559999  63.174999  12.56  144200  705900.0  213000
2006-02-10  100.139999  23.650000  62.830002  13.35  118100  276700.0  359000


           ^VIX
Date
2006-02-06    0
2006-02-07    0
2006-02-08    0
2006-02-09    0
2006-02-10    0

[5 rows x 24 columns]

In [21]:
lookback = 50

close = data["Adj Close"]
returns = np.log(close).diff()
std = returns.rolling(lookback).std()
momentum = close.pct_change(lookback)

close.columns = [f"{col}_close" for col in close]
returns.columns = [f"{col}_return" for col in returns]
std.columns = [f"{col}_std" for col in std]
momentum.columns = [f"{col}_momentum" for col in momentum]

features = pd.concat([close, returns, std, momentum], axis=1).dropna()
features.head()

,AGG_close,DBC_close,VTI_close,^VIX_close,AGG_return,DBC_return,VTI_return,^VIX_return,AGG_std,DBC_std,VTI_std,^VIX_std,AGG_momentum,DBC_momentum,VTI_momentum,^VIX_momentum
Date,,,,,,,,,,,,,,,,
2006-04-19,57.932709,23.455568,47.142460,11.32,0.000915,0.009699,0.002983,-0.007042,0.002232,0.012989,0.005776,0.042326,-0.010673,0.070248,0.040617,-0.131902
2006-04-20,57.844398,23.183884,47.207253,11.64,-0.001526,-0.011651,0.001373,0.027876,0.002239,0.012361,0.005571,0.042082,-0.011491,0.089362,0.052293,-0.143488
2006-04-21,57.838486,23.672916,47.185673,11.59,-0.000102,0.020874,-0.000457,-0.004305,0.002239,0.012621,0.005503,0.041344,-0.011098,0.117094,0.044298,-0.096648
2006-04-24,58.056412,23.201998,47.048840,11.75,0.003761,-0.020093,-0.002904,0.013711,0.002306,0.012964,0.005515,0.041258,-0.007967,0.084674,0.043257,-0.104421
2006-04-25,57.862076,23.274446,46.897617,11.75,-0.003353,0.003118,-0.003219,0.000000,0.002334,0.012639,0.005542,0.041185,-0.009210,0.108236,0.037759,-0.087024

In [22]:
features.to_csv("workflow/data/features.csv")